/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    color: #34495e;
    margin-top: 30px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #db83d7;
    border-radius: 5px;
    width: 250px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #eaaef7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}
.afegir{
    padding: 10px 15px;
    background-color: #eaaef7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


button:hover {
    background-color: #dda5df;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    transition: box-shadow 0.3s;
}

li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

strong {
    color: #da83dd;
}
